{% macro ftx_slippages(slippages, markets, order_sizes) %}
    <div class="table-responsive">
        <table class="table table-borderless mb-0" style="border-color: #2A2440">
            <thead style="border-bottom: 1px solid #2A2440; font-size: 12px ">
            <th class="fw-bold py-3">Pair</th>
            {% for order_size in order_sizes %}
                <th class="fw-bold text-center py-3">${{ (order_size / 1000) | int }}K</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for market in markets %}
                {% set underlying = market.split('-')[0] %}

                {% set filename = 'images/' + underlying + '.svg' %}

                <tr>
                    <td class="fw-bold py-3">
                        <img class="me-3" width="24px" height="24px" src="{{ url_for('static', filename=filename) }}"/> {{ market }}
                    </td>

                    {% for order_size in order_sizes %}
                        {% set buy = slippages[market][order_size|string]['buy'] %}

                        {% set sell = slippages[market][order_size|string]['sell'] %}

                        {% set total = slippages[market][order_size|string]['total'] %}

                        <td class="fw-bold text-center py-3">
                            {% if total %}
                            <div
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="{{ ("{:0.2f}% buy").format(buy) }} + {{ ("{:0.2f}% sell").format(sell) }}"
                            >
                                {{ ("{:0.2f}%").format(total) }}
                            </div>
                            {% else %}
                            <div
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="{{ ("{:0.2f}% buy").format(buy) if buy else 'No buy liquidity' }} + {{ ("{:0.2f}% sell").format(sell) if sell else 'No sell liquidity' }}"
                            >
                                -
                            </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // Manually trigger Bootstrap's tooltips
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))

    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{#    <div class="container py-4">#}
{#        <div class='card'>#}
{#            <div class='card-body'>#}
{#                <h2 class='card-title h6 fw-bolder'>FTX slippages</h2>#}
{#                <p style="color: gray; font-size: 12px;">Tracks how much would be lost to slippage by simultaneously placing orders on both sides of the order book. Hover over each percentage to drill down on details. Buy slippage is buying against resting asks on the order book, sell slippage is selling against resting bids on the order book.</p>#}
{#            <div class="card-footer d-flex justify-content-end">#}
{#                <a href="/historical_data/funding_rates.csv?instrument={{ market }}" class="fw-bold text-decoration-none text-warning py-2 me-2">Download as CSV</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endmacro %}

{% macro latest_slippages(latest_slippages) %}
    <div class='table-responsive'>
        <table class="table table-borderless">
            <thead>
            <tr style="border-bottom: 1px solid #2A2440; font-size: 12px ">
                <th class='fw-bold py-3'>Pair</th>
                {% for order_size in ['50K', '100K', '200K', '500K', '1M'] %}
                    <th class='fw-bold text-center py-3'>${{ order_size }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for slippage in latest_slippages %}
                {% set underlying = slippage['symbol'].split('-')[0] %}

                {% set filename = 'images/' + underlying + '.svg' %}
                <tr>
                    <td class="fw-bold py-3">
                        <img class="me-3" width="24px" height="24px" src="{{ url_for('static', filename=filename) }}"/> {{ slippage['symbol'] }}
                    </td>

                    {% for order_size in ['50K', '100K', '200K', '500K', '1M'] %}
                        <td class="fw-bold text-center py-3">
                            {% set buy_slippage = slippage['buy_' + order_size] %}

                            {% set sell_slippage = slippage['sell_' + order_size] %}

                            {% if buy_slippage and sell_slippage %}
                                <div
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="{{ ("{:0.2f}").format(buy_slippage) }}% buy + {{ ("{:0.2f}").format(sell_slippage) }}% sell"
                                >
                                    {{ ("{:0.2f}").format(buy_slippage + sell_slippage) + '%' }}
                                </div>
                            {% else %}
                                {% if not (buy_slippage or sell_slippage) %}
                                    <div
                                            data-bs-toggle="tooltip"
                                            title="No slippage data available"
                                    >-</div>
                                {% elif not buy_slippage %}
                                    <div
                                            data-bs-toggle="tooltip"
                                            title="No buy slippage data available"
                                    >-</div>
                                {% else %}
                                    <div
                                            data-bs-toggle="tooltip"
                                            title="No sell slippage data available"
                                    >-</div>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        // Manually trigger Bootstrap's tooltips
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))

        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endmacro %}
