{% macro header() %}
    <header class='px-4 d-flex align-items-center overflow-auto' style="height: 64px; background-color: #1D1832;">
        <img class="me-1" width="28px" height="29px" src="{{ url_for('static', filename='images/MNGO.svg') }}"/>
        <a href='https://trade.mango.markets' target='_blank'>
        </a>
        <a href='/' class='d-flex h-100 align-items-center text-center text-decoration-none me-3'>
            <h1 style="color: #f2c94c" class='fw-bold h6 ms-4 my-0'>Mangolorians</h1>
        </a>
        <a href="/exchange" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Exchange</a>
        <a href="/analytics" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Order book</a>
        <a href="/positions" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Positions</a>
        <a href="/historical_data"  class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Historical data</a>
        <a href="/market_maker_analytics" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Market makers</a>
        <a href="/market_maker_competitions" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Market maker competitions</a>
    </header>
{% endmacro %}

{% macro footer() %}
    <footer class='px-4 d-flex justify-content-center align-items-center' style="height: 64px; background-color: #1D1832;">
        <a href='https://trade.mango.markets' class="text-decoration-none" target='_blank'>
            <div style="color: gray;" class='fw-bold h6 ms-4 my-0'>GM • 2022</div>
        </a>
    </footer>
{% endmacro %}