{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import '_analytics.html' as analytics %}

{% block content %}
    {{ macros.header() }}

    <main class="container py-4">
        <h1 class="h3 fw-bold">Analytics</h1>

        <p>
            Below are presented a set of order book analytics for Mango Markets perpetuals. The slippage calculation logic used in the 3 last dashboards
            can be seen at the <a href="https://github.com/waterquarks/mangolorians/blob/7d957bd195b759e8300d799e42d45440a1a71c17/crunch/slippage.py#L4-L68" class="text-warning text-decoration-none" target="_blank">GitHub repo</a>
            and the underlying data is available as downloadable CSVs in the <a class="link-warning" href="/historical_data">Historical Data</a>
            tab.
        </p>

        <p>Select a pair whose order book analytics you'd like to see. You can drag left or right inside the dashboards to visualize different time ranges. Times are in UTC.</p>


        {{ analytics.market_selector(market, markets) }}

        <br>

        <div class="card">

            <div class="card-body">
                <div id="available_liquidity"></div>
            </div>
        </div>

        <br>

        <div class="card">

            <div class="card-body">
                <div id="buy_slippage"></div>
            </div>
        </div>

        <br>

        <div class="card">

            <div class="card-body">
                <div id="sell_slippage"></div>
            </div>
        </div>

        <br>

        <div class='card'>
            <div class='card-body'>
                <h2 class='card-title h6 fw-bolder'>Aggregated slippages</h2>
                <p style="color: gray; font-size: 12px;">Tracks how much would be lost to slippage by simultaneously placing orders on both sides of the order book. Hover over each percentage to drill down on details.</p>
                <div hx-get="/analytics/{{ market }}/latest_slippages" hx-trigger="load">
                    <div class="d-flex justify-content-center align-items-center py-4">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{ macros.footer() }}

    <script>
        const base = {
            chart: {
                height: '500px'
            },
            xAxis: {
                labels: {
                    style: {
                        color: "lightgray"
                    }
                }
            },
            tooltip: {
                backgroundColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'white'],
                        [1, '#EEE']
                    ]
                },
                borderColor: 'gray',
                borderWidth: 0,
                valuePrefix: '$'
            },
            legend: {
                enabled: true,
                itemStyle: {"color": "lightgray", "fontSize": "12px"}
            },
            rangeSelector: {
                inputEnabled: true,
                inputStyle: {
                    color: 'lightgray'
                },
                buttons: [
                    {
                        type: 'hour',
                        count: 1,
                        text: '1 hour'
                    },
                    {
                        type: 'hour',
                        count: 4,
                        text: '4 hours'
                    },
                    {
                        type: 'day',
                        count: 1,
                        text: '1 day'
                    },
                    {
                        type: 'week',
                        count: 1,
                        text: '1 week'
                    }
                ],
                enabled: true,
                dropdown: 'always',
                selected: 3
            },
            navigator: {
                enabled: false
            },
            scrollbar: {
                enabled: false
            },
            credits: {
                enabled: false
            }
        }

        const availableLiquidityChart = Highcharts.stockChart('available_liquidity', {
            ...base,
            title: {
                text: '{{ market }} available liquidity @ Mango Markets',
                style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
            },
            subtitle: {
                text: `Tracks how much liquidity there is on each order book side.<br>`,
                style: {"color": "gray", "fontSize": "12px"}
            },
            tooltip: {
                valueDecimals: 0,
                pointFormat: '${series.name}: <b>${point.y}</b><br/>'
            },
            yAxis: {
                labels: {
                    style: {
                        color: "lightgray"
                    },
                    formatter: function () {
                        return '$' + Intl.NumberFormat('en', { notation: 'compact' }).format(this.value)
                    }
                },
            },
        });

        const buySlippageChart = Highcharts.stockChart('buy_slippage', {
            ...base,
            title: {
                text: '{{ market }} buy slippage @ Mango Markets',
                style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
            },
            subtitle: {
                text: 'Tracks how much would be lost to slippage for certain buy order sizes.',
                style: {"color": "gray", "fontSize": "12px"}
            },
            yAxis: {
                type: 'logarithmic',
                labels: {
                    style: {
                        color: "lightgray"
                    },
                    formatter: function () {
                        return this.value + '%'
                    }
                }
            },
            tooltip: {
                backgroundColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'white'],
                        [1, '#EEE']
                    ]
                },
                borderColor: 'gray',
                borderWidth: 0,
                pointFormat: '{series.name}: <b>{point.y:.2f}%</b><br/>'
            },
        })

        const sellSlippageChart = Highcharts.stockChart('sell_slippage', {
            ...base,
            title: {
                text: '{{ market }} sell slippage @ Mango Markets',
                style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
            },
            subtitle: {
                text: 'Tracks how much would be lost to slippage for certain sell order sizes.',
                style: {"color": "gray", "fontSize": "12px"}
            },
            yAxis: {
                type: 'logarithmic',
                labels: {
                    style: {
                        color: "lightgray"
                    },
                    formatter: function () {
                        return this.value + '%'
                    }
                }
            },
            tooltip: {
                backgroundColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'white'],
                        [1, '#EEE']
                    ]
                },
                borderColor: 'gray',
                borderWidth: 0,
                pointFormat: '{series.name}: <b>{point.y:.2f}%</b><br/>'
            },
        })

        $(document).ready(() => {
            availableLiquidityChart.showLoading()

            $.getJSON(`/liquidity?symbol={{ market }}`,
                (data) => {
                    availableLiquidityChart.addSeries({
                        name: 'Buy',
                        data: data.map(entry => [new Date(entry.minute).getTime(), entry.buy])
                    })

                    availableLiquidityChart.addSeries({
                        name: 'Sell',
                        data: data.map(entry => [new Date(entry.minute).getTime(), entry.sell])
                    })
                }
            )

            availableLiquidityChart.hideLoading()
        })

        $(document).ready(() => {
            $.getJSON(`/slippages?symbol={{ market }}`,
                (data) => {
                    for (const side of ['buy', 'sell']) {
                        for (const orderSize of ['50K', '100K', '200K', '500K', '1M']) {
                            const chart = {'buy': buySlippageChart, 'sell': sellSlippageChart}[side]

                            const series = {
                                name: orderSize,
                                data: data.map(entry => [new Date(entry.minute).getTime(), entry[side + '_' + orderSize]])
                            }

                            chart.addSeries(series)
                        }
                    }
                }
            )
        })
    </script>
{% endblock %}