<!DOCTYPE html>
<html style="font-size: 14px;">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Mangolorians</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/overrides.css') }}">

    <script src="{{ url_for('static', filename='javascript/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0" ></script>

    <meta property="og:title" content="Mangolorians" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mangolorians.com" />
    <meta property="og:image" content="https://mangolorians.com/static/images/MNGO.svg" />
    <meta property="og:description" content="Analytics & historical data for Mango Markets" />
    <meta name="theme-color" content="#FF0000">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9VJ81RGNEF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9VJ81RGNEF');
    </script>
</head>
<body>
    <header class='px-4 d-flex align-items-center overflow-auto' style="height: 64px; background-color: #1D1832;">
        <a href='https://trade.mango.markets' target='_blank'>
            <img class="me-1" width="28px" height="29px" src="{{ url_for('static', filename='images/MNGO.svg') }}"/>
        </a>
        <a href='/' class='d-flex h-100 align-items-center text-center text-decoration-none me-3'>
            <h1 style="color: #f2c94c" class='fw-bold h6 ms-4 my-0'>Mangolorians</h1>
        </a>
{#        <a href="/exchange" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Exchange</a>#}
{#        <a href="/analytics" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Orderbooks</a>#}
{#        <a href="/referrals" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Referrals</a>#}
{#        <a href="/positions" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Positions</a>#}
{#        <a href="/balances" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Balances</a>#}
{#        <a href="/loserboards" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Loserboards</a>#}
{#        <a href="/volumes" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Volumes</a>#}
{#        <a href="/aprs" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">APRs</a>#}
{#        <a href="/historical_data"  class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Historical data</a>#}
    </header>

    <main class="container py-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class='px-4 d-flex justify-content-center align-items-center' style="height: 64px; background-color: #1D1832;">
        <a href='https://trade.mango.markets' class="text-decoration-none" target='_blank'>
            <div style="color: gray;" class='fw-bold h6 ms-4 my-0'>GM • 2022</div>
        </a>
    </footer>

    <script>
        document.addEventListener('click', function (e) {
            try {
                // allows for elements inside TH
                function findElementRecursive(element, tag) {
                    return element.nodeName === tag ? element : findElementRecursive(element.parentNode, tag)
                }

                var down_class = ' dir-d '
                var up_class = ' dir-u '
                var regex_dir = / dir-(u|d) /
                var regex_table = /\bsortable\b/
                var alt_sort = e.shiftKey || e.altKey
                var element = findElementRecursive(e.target, 'TH')
                var tr = findElementRecursive(element, 'TR')
                var table = findElementRecursive(tr, 'TABLE')

                function reClassify(element, dir) {
                    element.className = element.className.replace(regex_dir, '') + dir
                }

                function getValue(element) {
                    // If you aren't using data-sort and want to make it just the tiniest bit smaller/faster
                    // comment this line and uncomment the next one
                    return (
                        (alt_sort && element.getAttribute('data-sort-alt')) || element.getAttribute('data-sort') || element.innerText
                    )
                    // return element.innerText
                }

                if (regex_table.test(table.className)) {
                    var column_index
                    var nodes = tr.cells

                    // reset thead cells and get column index
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i] === element) {
                            column_index = i
                        } else {
                            reClassify(nodes[i], '')
                        }
                    }

                    var dir = down_class

                    // check if we're sorting up or down, and update the css accordingly
                    if (element.className.indexOf(down_class) !== -1) {
                        dir = up_class
                    }

                    reClassify(element, dir)

                    // extract all table rows, so the sorting can start.
                    var org_tbody = table.tBodies[0]

                    // get the array rows in an array, so we can sort them...
                    var rows = [].slice.call(org_tbody.rows, 0)

                    var reverse = dir === up_class

                    // sort them using custom built in array sort.
                    rows.sort(function (a, b) {
                        var x = getValue((reverse ? a : b).cells[column_index])
                        var y = getValue((reverse ? b : a).cells[column_index])
                        return isNaN(x - y) ? x.localeCompare(y) : x - y
                    })

                    // Make a clone without content
                    var clone_tbody = org_tbody.cloneNode()

                    // Build a sorted table body and replace the old one.
                    while (rows.length) {
                        clone_tbody.appendChild(rows.splice(0, 1)[0])
                    }

                    // And finally insert the end result
                    table.replaceChild(clone_tbody, org_tbody)
                }
            } catch (error) {
                // console.log(error)
            }
        })
    </script>
</body>
</html>