<!DOCTYPE html>
<html style="font-size: 14px;">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Mangolorians</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/overrides.css') }}">

    <script src="{{ url_for('static', filename='javascript/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0" ></script>

    <meta property="og:title" content="Mangolorians" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mangolorians.com" />
    <meta property="og:image" content="https://mangolorians.com/static/images/MNGO.svg" />
    <meta property="og:description" content="Analytics & historical data for Mango Markets" />
    <meta name="theme-color" content="#FF0000">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9VJ81RGNEF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9VJ81RGNEF');
    </script>
</head>
<body>
    <header class='px-4 d-flex align-items-center overflow-auto' style="height: 64px; background-color: #1D1832;">
        <img class="me-1" width="28px" height="29px" src="{{ url_for('static', filename='images/MNGO.svg') }}"/>
        <a href='https://trade.mango.markets' target='_blank'>
        </a>
        <a href='/' class='d-flex h-100 align-items-center text-center text-decoration-none me-3'>
            <h1 style="color: #f2c94c" class='fw-bold h6 ms-4 my-0'>Mangolorians</h1>
        </a>
        <a href="/exchange" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Exchange</a>
        <a href="/analytics" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Orderbooks</a>
        <a href="/positions" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Positions</a>
        <a href="/balances" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Balances</a>
        <a href="/competitions" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Competitions</a>
        <a href="/loserboards" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Loserboards</a>
        <a href="/volumes" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Volumes</a>
        <a href="/aprs" class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">APRs</a>
        <a href="/historical_data"  class="d-flex h-100 align-items-center text-center h6 text-light fw-bold text-decoration-none m-0 me-3">Historical data</a>
    </header>

    <main class="container py-4">
        {% block content %}{% endblock %}
    </main>

    <footer class='px-4 d-flex justify-content-center align-items-center' style="height: 64px; background-color: #1D1832;">
        <a href='https://trade.mango.markets' class="text-decoration-none" target='_blank'>
            <div style="color: gray;" class='fw-bold h6 ms-4 my-0'>GM • 2022</div>
        </a>
    </footer>
</body>
</html>