{% extends './base.html' %}
{% import './_base.html' as macros %}

{% macro competitors(traders) %}
    <div class="table-responsive">
        <table class="table table-bordered sortable" style="border-color: #2A2440">
            <thead>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Mango account</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Mango account volume</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Total volume</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Ratio to total volume</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Qualifies</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Total volume from qualified</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Ratio to total volume from qualified</th>
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Payout</th>
            </thead>
            <tbody>
            {% for mango_account,
                   type,
                   open_orders_account_volume,
                   total_volume_by_type,
                   ratio_to_total_volume,
                   qualifies,
                   qualifying_volume,
                   ratio_to_qualifying_by_type_volume,
                   srm_payout
               in traders %}
                <tr>
                    <td class="text-center text-nowrap py-3 px-3"><a href="https://trade.mango.markets/account?pubkey={{ mango_account }}" target="_blank" class="text-decoration-none text-warning">{{ mango_account }}</a></td>
                    <td data-sort="{{ open_orders_account_volume }}" class="text-center text-nowrap py-3 px-3">{{ "${:,.0f}".format(open_orders_account_volume) }}</td>
                    <td data-sort="{{ total_volume_by_type }}" class="text-center text-nowrap py-3 px-3">{{ "${:,.2f}".format(total_volume_by_type) }}</td>
                    <td data-sort="{{ ratio_to_total_volume }}" class="text-center text-nowrap py-3 px-3">{{ (ratio_to_total_volume * 100) | round(2) }}%</td>
                    <td data-sort="{{ qualifies }}" class="text-center text-nowrap py-3 px-3">{{ qualifies }}</td>
                    <td data-sort="{{ qualifying_volume }}" class="text-center text-nowrap py-3 px-3">{{ "${:,.2f}".format(qualifying_volume) }}</td>
                    <td data-sort="{{ ratio_to_qualifying_by_type_volume }}" class="text-center text-nowrap py-3 px-3">{% if ratio_to_qualifying_by_type_volume is none %}{{ none }}{% else %}{{ (ratio_to_qualifying_by_type_volume * 100) | round(2) }}%{% endif %}</td>
                    <td data-sort="{{ srm_payout }}" class="text-center text-nowrap py-3 px-3">{{ srm_payout | round(2) }} SRM</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block content %}
    {{ macros.header() }}

    <div class="container py-4">
        <h1 class="h3 fw-bold mb-3">Competitions</h1>

        <h2 class="h5 fw-bold mb-3">By volume</h2>

        <p>Every week for 8 weeks from the 18th of July, {{ "{:,.0f}".format(2 * pool) }} SRM will be awarded distributively to those Mango accounts contributing more than {{ "{:,.2f}".format(threshold / 1e2) }}% of either maker or taker spot volume. Calculations are shown below. The first pool will run from 2022-07-18 00:00:00 UTC to 2022-07-25 00:00:00 UTC. <em>This dashboard updates live.</em></p>

        <h2 class="h5 fw-bold mb-3">By P&L</h2>

        <p>In addition to the volume-based pool, 10,000 SRM will be distributed amongst the top 10 traders by P&L. All of these will get a base 500 SRM reward; first place gets an additional 3,000 SRM, 1,500 go to the second and 1,000 to the third. <em>This dashboard updates hourly.</em></p>

        <br>

        <div class="card">
             <div class="card-header py-3">
                <h2 class="h6 fw-bold mb-1">Traders</h2>
             </div>

            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#by-volume" type="button" role="tab">
                              By volume
                          </button>
                      </li>

                      <li class="nav-item" role="presentation">
                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#by-pnl" type="button" role="tab">
                              By P&L
                          </button>
                      </li>
                </ul>

                <br>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="by-volume" role="tabpanel">
                        <ul class="nav nav-tabs" id="tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="takers-tab" data-bs-toggle="tab"
                                        data-bs-target="#takers" type="button" role="tab" aria-controls="profile"
                                        aria-selected="false">Takers ({{ (takers | length) }})
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="makers-tab" data-bs-toggle="tab" data-bs-target="#makers"
                                        type="button" role="tab" aria-controls="home" aria-selected="true">Makers
                                    ({{ (makers | length) }})
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content" id="tab-content">
                            <div class="tab-pane fade show active" id="takers" role="tabpanel"
                                 aria-labelledby="takers-tab">
                                {{ competitors(takers) }}
                            </div>

                            <div class="tab-pane fade" id="makers" role="tabpanel" aria-labelledby="makers-tab">
                                {{ competitors(makers) }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="by-pnl" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-bordered sortable" style="border-color: #2A2440">
                                <thead>
                                    <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Mango account</th>
                                    <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Spot P&L</th>
                                </thead>
                                <tbody>
                                {% for mango_account, spot_pnl in competitors_by_pnl %}
                                    <tr>
                                        <td class="text-center text-nowrap py-3 px-3"><a href="https://trade.mango.markets/account?pubkey={{ mango_account }}" target="_blank" class="text-decoration-none text-warning">{{ mango_account }}</a></td>
                                        <td data-sort="{{ spot_pnl }}" class="text-center text-nowrap py-3 px-3">{{ "${:,.0f}".format(spot_pnl) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ macros.footer() }}

    <style>
        .sortable th {
            cursor: pointer;
            vertical-align: baseline;
            white-space: nowrap;
        }

        .sortable th::after {
            vertical-align: middle;
            content: ' ↕';
        }

        .sortable th.dir-d::after {
            vertical-align: middle;
            content: ' ↓';
        }

        .sortable th.dir-u::after {
            vertical-align: middle;
            content: ' ↑';
        }

        th.no-sort {
            pointer-events: none;
        }
    </style>

    <script>
        document.addEventListener('click', function (e) {
            try {
                // allows for elements inside TH
                function findElementRecursive(element, tag) {
                    return element.nodeName === tag ? element : findElementRecursive(element.parentNode, tag)
                }

                var down_class = ' dir-d '
                var up_class = ' dir-u '
                var regex_dir = / dir-(u|d) /
                var regex_table = /\bsortable\b/
                var alt_sort = e.shiftKey || e.altKey
                var element = findElementRecursive(e.target, 'TH')
                var tr = findElementRecursive(element, 'TR')
                var table = findElementRecursive(tr, 'TABLE')

                function reClassify(element, dir) {
                    element.className = element.className.replace(regex_dir, '') + dir
                }

                function getValue(element) {
                    // If you aren't using data-sort and want to make it just the tiniest bit smaller/faster
                    // comment this line and uncomment the next one
                    return (
                        (alt_sort && element.getAttribute('data-sort-alt')) || element.getAttribute('data-sort') || element.innerText
                    )
                    // return element.innerText
                }

                if (regex_table.test(table.className)) {
                    var column_index
                    var nodes = tr.cells

                    // reset thead cells and get column index
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i] === element) {
                            column_index = i
                        } else {
                            reClassify(nodes[i], '')
                        }
                    }

                    var dir = down_class

                    // check if we're sorting up or down, and update the css accordingly
                    if (element.className.indexOf(down_class) !== -1) {
                        dir = up_class
                    }

                    reClassify(element, dir)

                    // extract all table rows, so the sorting can start.
                    var org_tbody = table.tBodies[0]

                    // get the array rows in an array, so we can sort them...
                    var rows = [].slice.call(org_tbody.rows, 0)

                    var reverse = dir === up_class

                    // sort them using custom built in array sort.
                    rows.sort(function (a, b) {
                        var x = getValue((reverse ? a : b).cells[column_index])
                        var y = getValue((reverse ? b : a).cells[column_index])
                        return isNaN(x - y) ? x.localeCompare(y) : x - y
                    })

                    // Make a clone without content
                    var clone_tbody = org_tbody.cloneNode()

                    // Build a sorted table body and replace the old one.
                    while (rows.length) {
                        clone_tbody.appendChild(rows.splice(0, 1)[0])
                    }

                    // And finally insert the end result
                    table.replaceChild(clone_tbody, org_tbody)
                }
            } catch (error) {
                // console.log(error)
            }
        })
    </script>
{% endblock %}
