{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
    {{ macros.header() }}

    <main class="container py-4">
        <h2 class="h3 fw-bold m-0">Historical data</h2>

        <br>

        <div class="d-flex align-items-center">
            {{ market_selector(market, markets) }}

            <input type="date" class="form-control ms-3 py-2" style="background-color: #141026" min="2022-03-15" max="2022-03-15" value="2022-03-15">
        </div>

        <br>

        <div class="card" style="border-radius: 5px">
            <div class="card-header py-3" style="border-color: #2A2440;">
                <h2 class="h5 fw-bold mb-1">Order book deltas</h2>
            </div>
            <div class="card-body">
                {{ table(order_book_deltas) }}
            </div>
            <div class="card-footer d-flex justify-content-end" style="border-color: #2A2440;">
                <a href="/order_book_deltas/{{ market }}" class="fw-bold text-decoration-none text-warning py-2 me-2">Download as CSV</a>
            </div>
        </div>

        <br>

        <div class="card" style="border-radius: 5px">
            <div class="card-header py-3" style="border-color: #2A2440;">
                <h2 class="h5 fw-bold mb-1">Trades</h2>
            </div>
            <div class="card-body">
                {{ table(trades) }}
            </div>
            <div class="card-footer d-flex justify-content-end" style="border-color: #2A2440;">
                <a href="/trades/{{ market }}" class="fw-bold text-decoration-none text-warning py-2 me-2">Download as CSV</a>
            </div>
        </div>

        <br>

        <div class="card" style="border-radius: 5px">
            <div class="card-header py-3" style="border-color: #2A2440;">
                <h2 class="h5 fw-bold mb-1">Funding rates</h2>
            </div>
            <div class="card-body">
                {{ table(funding_rates) }}
            </div>
            <div class="card-footer d-flex justify-content-end" style="border-color: #2A2440;">
                <a href="/funding_rates/{{ market }}" class="fw-bold text-decoration-none text-warning py-2 me-2">Download as CSV</a>
            </div>
        </div>
    </main>

    {{ macros.footer() }}
{% endblock %}

{% macro market_selector(market, markets) %}
    <div class="dropdown p-0 m-0" id="selector">
        <button class="btn btn-dark dropdown-toggle py-2 px-4 d-flex align-items-center fw-bold"
                type="button"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="background-color: #141026; border-color: #878787;">
            {% set underlying = market.split('-')[0] %}

            {% set filename = 'images/' + underlying + '.svg' %}

            <img class="me-3" width="24px" height="24px"
                 src="{{ url_for('static', filename=filename) }}"/>

            {{ market }}
        </button>

        <ul class="dropdown-menu" style="background-color: #2A2440">
            {% for market in markets %}
                <li>
                    <a class="dropdown-item py-2 px-4 fw-bold" href="/historical_data/{{ market }}">
                        {% set underlying = market.split('-')[0] %}

                        {% set filename = 'images/' + underlying + '.svg' %}

                        <img class="me-3" width="24px" height="24px"
                             src="{{ url_for('static', filename=filename) }}"/>
                        {{ market }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro table(entries) %}
    <div class="table-responsive">
        <table class="table table-bordered" style="border-color: #2A2440">
            <thead>
            {% for key in entries[0].keys() %}
                <th class="fw-bolder h6 text-center text-nowrap py-3 px-2">{{ key }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    {% for key in entry.keys() %}
                        <td class="text-center text-nowrap py-3 px-3">{{ entry[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro previews(order_book_deltas, trades, funding_rates) %}
    <div class="tab-content">
        <div class="tab-pane fade show active" id="order_book_deltas" role="tabpanel"
             aria-labelledby="order_book_deltas">
            {{ table(order_book_deltas) }}
        </div>
        <div class="tab-pane fade" id="trades" role="tabpanel" aria-labelledby="trades">
            {{ table(trades) }}
        </div>
        <div class="tab-pane fade" id="funding_rates" role="tabpanel" aria-labelledby="funding_rates">
            {{ table(funding_rates) }}
        </div>
    </div>
{% endmacro %}