{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block content %}
    {{  macros.header() }}

    <main class="container py-4">
        <div class="text-center">
            <h1 class="h2">Mangolorians</h1>

            <p class="fs-5">Analytics & historical data for Mango Markets.</p>

            <p>Please click one of the tabs above to get started.</p>

            <p>The source code can be seen in <a class="text-decoration-none text-warning" href="https://github.com/waterquarks/mangalorians" target="_blank">Github.</a></p>
            <p></p>
        </div>
    </main>

    {{ macros.footer() }}
{% endblock %}