{% extends './base.html' %}
{% import './_base.html' as macros %}

{% block content %}
    {{ macros.header() }}

    <div class="container py-4">
        <h1 class="h3 fw-bold mb-3">Loserboards</h1>

        <p><em><strong>Top</strong></em> traders by negative P&L. You can adjust the relative start date below.</p>

        <form action="/loserboards" method="get">
            <div class="my-2">
                <label for="from" class="form-label fw-bold fs-6">Start date</label>
                <input class="form-control" type="date" name="start_date" value="{{ start_date }}" max="{{ max_start_date }}">
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>

        <br>

        <div class="card">
            <div class="card-header py-3">
                <h2 class="h6 fw-bold mb-1">Traders ({{ traders | length }})</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered sortable" style="border-color: #2A2440">
                        <thead>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Mango account</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">P&L</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Wallet address</th>
                        </thead>
                        <tbody>
                        {% for mango_account, pnl, wallet_address in traders %}
                            <tr>
                                <td class="text-center text-nowrap py-3 px-3"><a href="https://trade.mango.markets/account?pubkey={{ mango_account }}" target="_blank" class="text-decoration-none text-warning">{{ mango_account }}</a></td>
                                <td data-sort="{{ pnl }}" class="text-center text-nowrap py-3 px-3">{{ "${:,.0f}".format(pnl) }}</td>
                                <td class="text-center text-nowrap py-3 px-3"><a href="https://explorer.solana.com/address/{{ wallet_address }}" target="_blank" class="text-decoration-none text-warning">{{ wallet_address }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ macros.footer() }}

    <style>
        .sortable th {
            cursor: pointer;
            vertical-align: baseline;
            white-space: nowrap;
        }

        .sortable th::after {
            vertical-align: middle;
            content: ' ↕';
        }

        .sortable th.dir-d::after {
            vertical-align: middle;
            content: ' ↓';
        }

        .sortable th.dir-u::after {
            vertical-align: middle;
            content: ' ↑';
        }

        th.no-sort {
            pointer-events: none;
        }
    </style>

    <script>
        document.addEventListener('click', function (e) {
            try {
                // allows for elements inside TH
                function findElementRecursive(element, tag) {
                    return element.nodeName === tag ? element : findElementRecursive(element.parentNode, tag)
                }

                var down_class = ' dir-d '
                var up_class = ' dir-u '
                var regex_dir = / dir-(u|d) /
                var regex_table = /\bsortable\b/
                var alt_sort = e.shiftKey || e.altKey
                var element = findElementRecursive(e.target, 'TH')
                var tr = findElementRecursive(element, 'TR')
                var table = findElementRecursive(tr, 'TABLE')

                function reClassify(element, dir) {
                    element.className = element.className.replace(regex_dir, '') + dir
                }

                function getValue(element) {
                    // If you aren't using data-sort and want to make it just the tiniest bit smaller/faster
                    // comment this line and uncomment the next one
                    return (
                        (alt_sort && element.getAttribute('data-sort-alt')) || element.getAttribute('data-sort') || element.innerText
                    )
                    // return element.innerText
                }

                if (regex_table.test(table.className)) {
                    var column_index
                    var nodes = tr.cells

                    // reset thead cells and get column index
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i] === element) {
                            column_index = i
                        } else {
                            reClassify(nodes[i], '')
                        }
                    }

                    var dir = down_class

                    // check if we're sorting up or down, and update the css accordingly
                    if (element.className.indexOf(down_class) !== -1) {
                        dir = up_class
                    }

                    reClassify(element, dir)

                    // extract all table rows, so the sorting can start.
                    var org_tbody = table.tBodies[0]

                    // get the array rows in an array, so we can sort them...
                    var rows = [].slice.call(org_tbody.rows, 0)

                    var reverse = dir === up_class

                    // sort them using custom built in array sort.
                    rows.sort(function (a, b) {
                        var x = getValue((reverse ? a : b).cells[column_index])
                        var y = getValue((reverse ? b : a).cells[column_index])
                        return isNaN(x - y) ? x.localeCompare(y) : x - y
                    })

                    // Make a clone without content
                    var clone_tbody = org_tbody.cloneNode()

                    // Build a sorted table body and replace the old one.
                    while (rows.length) {
                        clone_tbody.appendChild(rows.splice(0, 1)[0])
                    }

                    // And finally insert the end result
                    table.replaceChild(clone_tbody, org_tbody)
                }
            } catch (error) {
                // console.log(error)
            }
        })
    </script>
{% endblock %}
