{% extends './base.html' %}
{% import './_base.html' as macros %}

{% block content %}
    {{ macros.header() }}

    <div class="container py-4">
        <h1 class="h3 fw-bold mb-3">Market Maker benchmark</h1>

        <p>
            The way performance is measured goes as follows: a target depth and a target spread for a time period are chosen.
            If the market maker manages to keep a certain uptime for the aforementioned parameters, they have been successful.
            Uptime is here defined as the sum of the duration of all slots during which the market maker quoted a spread under
            the target.
        </p>

        <p>
            For any feedback regarding this dashboard, you can reach out in Discord @waterquarks#6629.
        </p>

        <div class="dropdown p-0 m-0" id="selector">
            <button
                class="btn btn-dark py-2 px-4 d-flex align-items-center fw-bold"
                class="btn btn-dark dropdown-toggle py-2 px-4 d-flex align-items-center fw-bold"
                type="button"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="background-color: #141026; border-color: #878787;"
            >
                {% set asset = instrument | regex_replace('(-|/).*', '') %}

                {% set filename = 'images/' + asset + '.svg' %}

                <img class="me-3" width="24px" eight="24px"  src="{{ url_for('static', filename=filename) }}"/>

                {{ instrument }}
            </button>

            <ul class="dropdown-menu overflow-auto" style="background-color: #2A2440">
                {% for instrument in perpetuals %}
                    <li>
                        <a class="dropdown-item py-2 px-4 fw-bold" href="/market_maker_analytics?instrument={{ instrument }}&account={{ account }}">
                            {% set asset = instrument | regex_replace('(-|/).*', '') %}

                            {% set filename = 'images/' + asset + '.svg' %}

                            <img class="me-3" width="24px" height="24px"  src="{{ url_for('static', filename=filename) }}"/>
                            {{ instrument }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <form action="/market_maker_analytics" method="get">
            <input type="hidden" name="instrument" value="{{ instrument }}">

            <div>
                <label for="account" class="form-label fw-bold fs-6">Public key</label>
                <input type="text" class="form-control" name="account" id="account" value="{{ account }}">
            </div>

            <div class="d-block d-lg-flex flex-wrap">
                <div class="my-2 mb-lg-0 me-lg-2 flex-grow-1">
                    <label for="from" class="form-label fw-bold fs-6">Date</label>
                    <input class="form-control" type="date" name="date" id="date" min="2022-05-09" max="2022-05-18" value="{{ date }}">
                </div>

                <div class="my-2 mb-lg-0 me-lg-2 flex-grow-1">
                    <label for="target_depth" class="form-label fw-bold fs-6">Target depth</label>
                    <input class="form-control" type="number" name="target-depth" id="target-depth" value="{{ target_depth }}">
                </div>

                <div class="my-2 mb-lg-0 flex-grow-1">
                    <label for="target_spread" class="form-label fw-bold fs-6">Target spread (%)</label>
                    <input type="number" class="form-control" name="target-spread" id="target-spread"  step="0.01" value="{{ target_spread }}">
                </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>

        <br>

        <div class="card" id="summary">
            <div class="card-header py-3">
                <h2 class="h6 fw-bold mb-1">Summary</h2>
            </div>

            <div class="card-body">
                <div class="content">
                    <div class="pb-3" style="border-bottom: 1px solid rgb(55, 50, 77)">
                        <div style="color: rgb(193, 190, 211); font-size: 14px;">Slots elapsed</div>
                        <div style="color: rgb(229, 231, 235); font-size: 24px; font-weight: 700;">{{ slots }}</div>
                    </div>

                    <div class="py-3" style="border-bottom: 1px solid rgb(55, 50, 77)">
                        <div style="color: rgb(193, 190, 211); font-size: 14px;">Uptime with target spread ({{ target_spread }}%)</div>
                        <div style="color: rgb(229, 231, 235); font-size: 24px; font-weight: 700;">{{ ((slots_with_target_spread / slots) * 1e2) | round(1) }}% ({{ slots_with_target_spread }} slots)</div>
                    </div>

                    <div class="pt-3">
                        <div style="color: rgb(193, 190, 211); font-size: 14px;">Uptime for any spread</div>
                        <div style="color: rgb(229, 231, 235); font-size: 24px; font-weight: 700;">{{ ((slots_with_any_spread / slots) * 1e2) | round(1) }}% ({{ slots_with_any_spread }} slots)</div>
                    </div>
                </div>
            </div>

{#            <div class="card-footer d-flex justify-content-end">#}
{#                <a href="/market_maker_analytics/metrics.csv?instrument={{ instrument }}&account={{ account }}&target_depth={{ target_depth }}&date={{ date }}" class="fw-bold text-decoration-none text-warning py-2 me-2">Download data as CSV</a>#}
{#            </div>#}
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                <div id="spreads"></div>
            </div>
        </div>

        <script>
            const metrics = JSON.parse('{{ metrics }}')

            Highcharts.chart('spreads', {
                chart: {
                    height: '500px'
                },
                title: {
                    text: '{{ instrument }} spread @ Mango Markets',
                    style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
                },
                subtitle: {
                    text: "Tracks the bid/ask spread for resting orders placed by {{ account }} by walking ${{ target_depth }} down each side of the order book. Gaps mean that either the market maker's depth was under the target depth required during that time period, or that his spread was over the target spread selected.",
                    style: {"color": "gray", "fontSize": "12px"}
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        style: {
                            color: "lightgray"
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'Percentage'
                    },
                    labels: {
                        style: {
                            color: "lightgray"
                        },
                        formatter: function () {
                            return Intl.NumberFormat('en', {notation: 'standard'}).format(this.value) + '%'
                        }
                    }
                },
                tooltip: {
                    shared: true,
                    backgroundColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'white'],
                            [1, '#EEE']
                        ]
                    },
                    borderColor: 'gray',
                    borderWidth: 0,
                    pointFormat: '{series.name}: <b>{point.y:,.2f}%</b>'
                },
                legend: {
                    enabled: true,
                    itemStyle: { "color": "lightgray", "fontSize": "12px" }
                },
                credits: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Bid/Ask spread',
                        data: metrics.map(metric => [metric[0], metric[3]])
                    }
                ]
            })
        </script>

        <br>

        <div class="card">
            <div class="card-body">
                <div id="depth"></div>
            </div>
        </div>

        <script>
            Highcharts.chart('depth', {
                chart: {
                    height: '500px'
                },
                title: {
                    text: '{{ instrument }} depth @ Mango Markets',
                    style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
                },
                subtitle: {
                    text: 'Measures to how much USD value do the orders of {{ account }} on each order book side amount to.',
                    style: {"color": "gray", "fontSize": "12px"}
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        style: {
                            color: "lightgray"
                        }
                    }
                },
                yAxis: {
                    labels: {
                        style: {
                            color: "lightgray"
                        },
                        formatter: function () {
                            return '$' + Intl.NumberFormat('en', { notation: 'compact' }).format(this.value)
                        }
                    },
                },
                tooltip: {
                    shared: true,
                    backgroundColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'white'],
                            [1, '#EEE']
                        ]
                    },
                    borderColor: 'gray',
                    borderWidth: 0,
                    pointFormat: '{series.name}: <b>${point.y:,.0f}</b><br/>'
                },
                legend: {
                    enabled: true,
                    itemStyle: { "color": "lightgray", "fontSize": "12px" }
                },
                credits: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Bids',
                        data: metrics.map(metric => [metric[0], metric[1]]),
                        color: '#90ed7d',
                    },
                    {
                        name: 'Asks',
                        data: metrics.map(metric => [metric[0], metric[2]]),
                        color: '#f7a35c',
                    }
                ]
            })
        </script>
    </div>

    {{ macros.footer() }}
{% endblock %}
