{% extends './base.html' %}
{% import '_base.html' as macros %}

{% block content %}
    {{ macros.header() }}

    <div class="container py-4">
        <h1 class="h3 fw-bold mb-3">Market maker competitions | Week 3</h1>

        <p>
            This dashboard monitors uptimes for <a href="https://forum.mango.markets/t/mm-pool-for-fixed-spreads-mm-competitions/491" class="link-warning">market maker competitions</a> participants.
            It is updated hourly. Click on any header to sort by its values.
        </p>

        <div class="card">
            <div class="card-header py-3">
                <h2 class="h6 fw-bold mb-1">Participants</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered sortable" style="border-color: #2A2440">
                        <thead>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3 sortable">Market</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Account</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Target depth</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Target spread</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Target uptime</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Uptime (target spread)</th>
                            <th class="fw-bolder h6 text-center text-nowrap py-3 px-3">Uptime (any spread)</th>
                        </thead>
                        <tbody>
                        {% for market, account, target_depth, target_spread, target_uptime, uptime_with_target_spread, uptime_with_any_spread in tranches %}
                            <tr>
                                <td class="text-center text-nowrap py-3 px-3">{{ market }}</td>
                                <td class="text-center text-nowrap py-3 px-3">{{ account }}</td>
                                <td data-sort="{{ target_depth }}" class="text-center text-nowrap py-3 px-3">${{ ((target_depth / 1e3) | int) if target_depth % 1e3 == 0 else (target_depth / 1e3)  }}K</td>
                                <td data-sort="{{ target_spread }}" class="text-center text-nowrap py-3 px-3">{{ target_spread }}%</td>
                                <td data-sort="{{ target_uptimen }}" class="text-center text-nowrap py-3 px-3">{{ target_uptime * 1e2 }}%</td>
                                <td data-sort="{{ uptime_with_target_spread }}" class="text-center text-nowrap py-3 px-3">{{ (uptime_with_target_spread * 1e2) | round(1) }}%</td>
                                <td data-sort="{{ uptime_with_any_spread }}" class="text-center text-nowrap py-3 px-3">{{ (uptime_with_any_spread * 1e2) | round(1) }}%</td>
{#                                <td class="text-center text-nowrap py-3 px-3"><a href="/market_maker_competitor?market={{ market }}&account={{ account }}&target_depth={{ target_depth }}" class="text-decoration-none text-warning">View details</a></td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ macros.footer() }}

    <style>
        .sortable th {
            cursor: pointer;
            vertical-align: baseline;
            white-space: nowrap;
        }

        .sortable th::after {
            vertical-align: middle;
            content: ' ↕';
        }

        .sortable th.dir-d::after {
            vertical-align: middle;
            content: ' ↓';
        }

        .sortable th.dir-u::after {
            vertical-align: middle;
            content: ' ↑';
        }
    </style>

    <script>
        document.addEventListener('click', function (e) {
            try {
                // allows for elements inside TH
                function findElementRecursive(element, tag) {
                    return element.nodeName === tag ? element : findElementRecursive(element.parentNode, tag)
                }

                var down_class = ' dir-d '
                var up_class = ' dir-u '
                var regex_dir = / dir-(u|d) /
                var regex_table = /\bsortable\b/
                var alt_sort = e.shiftKey || e.altKey
                var element = findElementRecursive(e.target, 'TH')
                var tr = findElementRecursive(element, 'TR')
                var table = findElementRecursive(tr, 'TABLE')

                function reClassify(element, dir) {
                    element.className = element.className.replace(regex_dir, '') + dir
                }

                function getValue(element) {
                    // If you aren't using data-sort and want to make it just the tiniest bit smaller/faster
                    // comment this line and uncomment the next one
                    return (
                        (alt_sort && element.getAttribute('data-sort-alt')) || element.getAttribute('data-sort') || element.innerText
                    )
                    // return element.innerText
                }

                if (regex_table.test(table.className)) {
                    var column_index
                    var nodes = tr.cells

                    // reset thead cells and get column index
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i] === element) {
                            column_index = i
                        } else {
                            reClassify(nodes[i], '')
                        }
                    }

                    var dir = down_class

                    // check if we're sorting up or down, and update the css accordingly
                    if (element.className.indexOf(down_class) !== -1) {
                        dir = up_class
                    }

                    reClassify(element, dir)

                    // extract all table rows, so the sorting can start.
                    var org_tbody = table.tBodies[0]

                    // get the array rows in an array, so we can sort them...
                    var rows = [].slice.call(org_tbody.rows, 0)

                    var reverse = dir === up_class

                    // sort them using custom built in array sort.
                    rows.sort(function (a, b) {
                        var x = getValue((reverse ? a : b).cells[column_index])
                        var y = getValue((reverse ? b : a).cells[column_index])
                        return isNaN(x - y) ? x.localeCompare(y) : x - y
                    })

                    // Make a clone without content
                    var clone_tbody = org_tbody.cloneNode()

                    // Build a sorted table body and replace the old one.
                    while (rows.length) {
                        clone_tbody.appendChild(rows.splice(0, 1)[0])
                    }

                    // And finally insert the end result
                    table.replaceChild(clone_tbody, org_tbody)
                }
            } catch (error) {
                // console.log(error)
            }
        })
    </script>
{% endblock %}
