{% extends './base.html' %}
{% import '_base.html' as macros %}

{% block content %}
    {{ macros.header() }}

    <div class="container py-4">
        <h1 class="h3 fw-bold mb-3">Market maker analytics</h1>

        <p>Below are presented a set of order book analytics subsetted by account(s). Enter one or more public keys separated by a comma and click on "Submit" to fetch the data. Times are in UTC.</p>

        <div class="dropdown p-0 m-0" id="selector">
            <button class="btn btn-dark dropdown-toggle py-2 px-4 d-flex align-items-center fw-bold"
                    type="button"
                    data-bs-toggle="dropdown" aria-expanded="false"
                    style="background-color: #141026; border-color: #878787;"
            >
                {% set asset = instrument | regex_replace('(-|/).*', '') %}

                {% set filename = 'images/' + asset + '.svg' %}

                <img class="me-3" width="24px" eight="24px"  src="{{ url_for('static', filename=filename) }}"/>

                {{ instrument }}
            </button>

            <ul class="dropdown-menu overflow-auto" style="background-color: #2A2440">
                {% for instrument in perpetuals %}
                    <li>
                        <a class="dropdown-item py-2 px-4 fw-bold" href="/market_maker_analytics?instrument={{ instrument }}&accounts={{ accounts }}">
                            {% set asset = instrument | regex_replace('(-|/).*', '') %}

                            {% set filename = 'images/' + asset + '.svg' %}

                            <img class="me-3" width="24px" height="24px"  src="{{ url_for('static', filename=filename) }}"/>
                            {{ instrument }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <form action="/market_maker_analytics" method="get" class="d-flex align-items-end mt-3">
            <input type="hidden" name="instrument" value="{{ instrument }}">

            <div class="me-2 flex-grow-1">
                <label for="account" class="form-label fw-bold fs-6">Account public key</label>
                <input type="text" class="form-control" name="accounts" id="accounts" value="{{ accounts }}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br>

        <div hx-trigger="load" hx-get="/analytics/benchmark?instrument={{ instrument }}&accounts={{ accounts }}">
            <div class="card">
                <div class="card-header py-3">
                    <h2 class="h6 fw-bold mb-1">Summary</h2>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center py-4">
                        <div class="spinner-border text-secondary"></div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                <div id="spread"></div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                <div id="liquidity"></div>
            </div>
        </div>
    </div>

    {{ macros.footer() }}

    <script>
        const base = {
            chart: {
                height: '500px',
                events: {
                    load() {
                        const chart = this

                        chart.showLoading(`
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        `)
                    }
                }
            },
            loading: {
                style: {'backgroundColor': '#1D1832'}
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    style: {
                        color: "lightgray"
                    }
                },
            },
            tooltip: {
                shared: true,
                backgroundColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'white'],
                        [1, '#EEE']
                    ]
                },
                borderColor: 'gray',
                borderWidth: 0,
            },
            legend: {
                enabled: true,
                itemStyle: { "color": "lightgray", "fontSize": "12px" }
            },
            rangeSelector: {
                inputEnabled: true,
                inputStyle: {
                    color: 'lightgray'
                },
                buttons: [
                    {
                        type: 'all',
                        count: 1,
                        text: 'All'
                    },
                    {
                        type: 'hour',
                        count: 1,
                        text: '1 hour'
                    },
                    {
                        type: 'hour',
                        count: 4,
                        text: '4 hours'
                    },
                    {
                        type: 'day',
                        count: 1,
                        text: '1 day'
                    },
                    {
                        type: 'week',
                        count: 1,
                        text: '1 week'
                    }
                ],
                enabled: true,
                dropdown: 'always',
                selected: 0
            },
            navigator: {
                enabled: false
            },
            credits: {
                enabled: false
            }
        }

        const liquidityChart = Highcharts.chart('liquidity', {
            ...base,
            title: {
                text: '{{ instrument }} subsetted liquidity @ Mango Markets',
                style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
            },
            subtitle: {
                text: 'Tracks cumulative liquidity provided by {{ accounts }} on each order book side.',
                style: {"color": "gray", "fontSize": "12px"}
            },
            tooltip: {
                pointFormat: '{series.name}: <b>${point.y:,.0f}</b><br/>'
            },
            yAxis: {
                labels: {
                    style: {
                        color: "lightgray"
                    },
                    formatter: function () {
                        return '$' + Intl.NumberFormat('en', { notation: 'compact' }).format(this.value)
                    }
                },
            },
        });

        $(document).ready(() => {
            $.getJSON(`/analytics/liquidity?instrument={{ instrument }}&accounts={{ accounts }}`,
                (data) => {
                    liquidityChart.hideLoading()

                    liquidityChart.addSeries({
                        name: 'Bids',
                        data: data.map(entry => [new Date(entry.minute).getTime(), entry.buy])
                    })

                    liquidityChart.addSeries({
                        name: 'Asks',
                        data: data.map(entry => [new Date(entry.minute).getTime(), entry.sell])
                    })
                }
            )
        })

        const spreadChart = Highcharts.chart('spread', {
            ...base,
            title: {
                text: '{{ instrument }} spread @ Mango Markets',
                style: {"color": "lightgray", "fontSize": "14px", "fontWeight": 'bold'}
            },
            subtitle: {
                text: 'Tracks the bid/ask spread of the liquidity provided by {{ accounts }}.',
                style: {"color": "gray", "fontSize": "12px"}
            },
            tooltip: {
                pointFormat: `
                    Weighted average bid: <b>$\{point.weightedAverageBid:,.2f}</b>
                    <br>
                    Weighted average ask: <b>$\{point.weightedAverageAsk:,.2f}</b>
                    <br>
                    {series.name}: <b>\${point.spread:,.2f} ({point.y:,.2f}%)</b>
                `
            },
            yAxis: {
                title: {
                  text: 'Percentage'
                },
                labels: {
                    style: {
                        color: "lightgray"
                    },
                    formatter: function () {
                        return Intl.NumberFormat('en', { notation: 'standard' }).format(this.value) + '%'
                    }
                }
            },
        });

        $(document).ready(() => {
            $.getJSON(`/analytics/quotes?instrument={{ instrument }}&accounts={{ accounts }}`,
                (data) => {
                    spreadChart.hideLoading()

                    spreadChart.addSeries({
                        name: 'Bid/Ask Spread',
                        data: data.map(entry => (
                            {
                                x: new Date(entry.minute).getTime(),
                                y: entry.relative_spread,
                                weightedAverageBid: entry.weighted_average_bid,
                                weightedAverageAsk: entry.weighted_average_ask,
                                spread: entry.absolute_spread,
                            }
                        )),
                        turboThreshold: 0
                    })
                }
            )
        })
    </script>

    <style>
        #loader {
            display: none;
        }

        .htmx-request #loader {
            display: flex;
        }

        .htmx-request .content {
            display: none;
        }
    </style>
{% endblock %}
